@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden ;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9% ;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(138, 12, 193);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #f60808;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid rgb(138, 12, 193);;
    transition: 0.3s ease;
    cursor: pointer; 
}

.logo:hover{
    color: #27b6cc;
    transform: scale(1.1);
    transform: scale(1.03);
    background-color: hsl(177, 91%, 49%);
    color: black;
    box-shadow: 0 0 25px hsl(177, 91%, 49%);
}

nav a{
    font-size: 1.8rem;
    color: rgb(96, 255, 10);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #f00bce;
    border: #f00997;
    background-color: #ede504;
    border-radius: 50px;
    box-shadow: 0 0 25px #ede504;

    border-bottom: 3px solid #ede504;
}


@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4d;
        border-bottom: 3px solid #b74b4d;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #1b1b1b;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active{
        display: block;
    }
    nav a{
        display:inline block;
        color: #04ed78;
        padding: 1rem 2.8rem;
        background-color: #1b1b1b;
        font-size: 2rem;
        font-weight: 600;
        margin: 3rem 0; 
        letter-spacing: 0.3rem;
        border: 2px solid springgreen;
        transition: 0.3s ease;
       cursor: pointer;
    }

    nav a:hover,
    nav a.active{
        transition: scale(1.03);
        background-color: #04ed78;
               border-radius: 4rem;
        border-bottom: 0.5rem solid #e10e12;
        box-shadow:0 0 25px #04ed78;
    }
    
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #09c7ed;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    display: flex;
    position: relative;
    width: 30vw;
    height: 300px;
    border-radius: 50%;
   
    border: rem;
       
    cursor: pointer;
    transition: 0.2s linear;

}

.home-img img:hover{
    transform: scale(1.03);
    background-color: hsl(317, 80%, 44%);
    color: black;
    box-shadow: 0 0 50px hsl(312, 91%, 49%);;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid  #04ed78;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #0723d5;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #15f467;
    box-shadow: 0 0 25px #04ed78;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4d;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4d;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background-color: hsl(177, 91%, 49%);
    color: black;
    box-shadow: 0 0 25px hsl(177, 91%, 49%);;
}

.home-content .typewriter{
    font-size: clamp(4rem, 3rem + 5vw, 2.5rem);
    font-weight: 1000;
}

@media(max-width:1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;

    }
    
    .home-content h1{
        font-size: 5rem;
    }
    
    .home-img img{
        width: 50vh;
        margin-top: 4rem;
    }

}
h1{
    color: #f00bce;
}

.timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
    background: #fcfcfc;
}

.timeline-section h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.timeline-items::before{
    content: " ";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #ff154c;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom:40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height:21px ;
    width: 21px ;
    background-color: #ff154c;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}


.timeline-content{
    background-color: #ff154c;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 30px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.timeline-content:hover{
    transform: scale(1.05);
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p{
    color: white;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
hr{
    color: #27b6cc;
}